<h2>Add a New List</h2>

<form action="/lists" method="post">
  <div class="form-group">
    <label for="list_name">Name of List</label>
    <input class="form-control" type="text" id="list_name" name="list_name">
  </div>
  <button type="submit" class="btn-success">Add List</button>
</form>
