<h2>Here are the tasks for <%= @list.name() %></h2>

<ul>
  <% @tasks.each() do |task| %>
  <li><b>Task: </b><%= task.description() %>, <b>Due Date: </b><%= task.due_date() %></li>
  <% end %>

</ul>
<a href="/lists/<%= @list.id() %>/tasks/new">Enter a task</a>
